
.panel.panel-default
  .panel-heading.comment-header
    ul
      li
        b #{comment.getUser().getNickname()}
        |, #{viewHelper.getFormattedDate(comment.getCreatedAt())}
      li.admin
        if userService.isCurrentUserAdmin()
          .td
            a.btn.btn-xs.btn-danger.btn-delete(href="javascript:deleteComment(#{post.id}, #{comment.getId()})", postId="#{post.id}")
              i.fa.fa-trash-o

            form(id="form-#{post.getId()}-comment-#{comment.getId()}-delete",style="visibility: hidden", method="post", action="/admin/comments/#{comment.getId()}/delete")
              input(type="hidden", name='_csrf', value='#{_csrf.token}')
              input(type="hidden", name='postId', value='#{post.getId()}')

    div(class="clearfix")

  .panel-body
    !{comment.getRenderedContent()}







